/* Posicionamento de elementos */

.itens{
    display: flex;
}

.super-mario {
    width: 200px;
    margin-left: 5px;
    position: absolute;
  }
  
  .goomba {
    margin-top: 25%;
    width: 100px;
    position: relative;
    margin-top: 295px;
  }
  
  .baloon {
    position: relative;
  }
  
  .speach {
    margin-top: -125px;
    margin-left: 20px;
    font-size: 25px;
    position: relative;
  }
  
  .bowser {
    width: 200px;
    margin-left: 290px;
  }

  .mario{
      width:20%;

  }

  /* Combinações e Classes Descendentes */
/* Item 1 */
  ol{
    background-color: yellow;

  }

  .par{
    color:green;    
  }

  .impar {
    text-transform: uppercase;
  }

/* Item 2 */
  h1 em h3{
    color: red;
  }

  h1 em{
    font-size: 40px;
  }

/* Item 3 */
li em{
  font-size: 20px;
  font-weight: bold;
}

/* Item 4 */
.azul{
  color:blue;
}

.java{
  background-color: pink;
}

/* Item 5 */
ul li a{
  text-decoration: none;
  color: black;
}

ul li a:hover{
  font-weight: bold;
  color: green;
}